@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
    --gradient-color-1-light: #e3f2fd;
    --gradient-color-2-light: #bbdefb;
    --gradient-color-1-dark: #1a1a2e;
    --gradient-color-2-dark: #16213e;
    --particle-color-light: rgba(33, 150, 243, 0.8);
    --particle-color-dark: rgba(100, 181, 246, 0.8);
}

body.light-mode {
    --gradient-color-1: var(--gradient-color-1-light);
    --gradient-color-2: var(--gradient-color-2-light);
    --particle-color: var(--particle-color-light);
}

body.dark-mode {
    --gradient-color-1: var(--gradient-color-1-dark);
    --gradient-color-2: var(--gradient-color-2-dark);
    --particle-color: var(--particle-color-dark);
}



/* Gradient Animation */
@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientBG 8s ease infinite;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1D2F6F;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #FAC748;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #eee1c1;
}
